body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fdfcff;
    color: #333;
}

header {
    background-color: #f5e8ff;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);


}
h1 {
    text-align: center;
    align-items: center;
    margin: 2rem 0;
    font-size: 2.8rem;
    color: #5c5470;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 800;
    color: #5c5470;
}

nav a.boton {
    margin-left: 1rem;
    text-decoration: none;
    background-color: #5c5470;
    color: white;
    padding: 0.7rem 1.4rem;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

nav a.boton:hover {
    background-color: #776a8a;
}

nav a.secundario {
    background-color: #a88bd1;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 2rem;
    text-align: center;
}

.intro h2 {
    font-size: 1.8rem;
    color: #4a4263;
}

.intro p {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.caracteristicas ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.caracteristicas li {
    margin: 0.8rem 0;
    font-size: 1rem;
}

.cta .grande {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: #5c5470;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f5e8ff;
    font-size: 0.9rem;
    margin-top: 3rem;
}
